[localhost]
127.0.0.1 ansible_connection=local ansible_become_password='{{ '{{' }} controller_sudo_pass {{ '}}' }}'

[file_server]
{{ env.file_server.ip | default('') }} ansible_user={{ env.file_server.user | default('') }} ansible_become_password='{{ '{{' }} env.file_server.pass {{ '}}' }}'

[kvm_host]
{% if (env.z.lpar1.hostname is not none and env.z.lpar1.hostname | trim | default('') | length > 0 and env.z.lpar1.ip | default('') | length > 0 and env.z.lpar1.user | default('') | length > 0) %}
{{ env.z.lpar1.hostname }} ansible_host={{ env.z.lpar1.ip }} ansible_user={{ env.z.lpar1.user }} ansible_become_password='{{ '{{' }} env.z.lpar1.pass {{ '}}' }}'
{% endif %}
{% if (env.z.lpar2.hostname is not none and env.z.lpar2.hostname | trim | default('') | length > 0 and env.z.lpar2.ip | default('') | length > 0 and env.z.lpar2.user | default('') | length > 0) %}
{{ env.z.lpar2.hostname }} ansible_host={{ env.z.lpar2.ip }} ansible_user={{ env.z.lpar2.user }} ansible_become_password='{{ '{{' }} env.z.lpar2.pass {{ '}}' }}'
{% endif %}
{% if (env.z.lpar3.hostname is not none and env.z.lpar3.hostname | trim | default('') | length > 0 and env.z.lpar3.ip | default('') | length > 0 and env.z.lpar3.user | default('') | length > 0) %}
{{ env.z.lpar3.hostname }} ansible_host={{ env.z.lpar3.ip }} ansible_user={{ env.z.lpar3.user }} ansible_become_password='{{ '{{' }} env.z.lpar3.pass {{ '}}' }}'
{% endif %}

{% if (installation_type | lower == 'zvm') and (zvm.nodes | default([]) | length > 0) %}
{{ '[zvm_host]' }}
{% for item in range(zvm.nodes | length) %}
{{ zvm.nodes[item].name | string + ' ansible_host=' + zvm.nodes[item].interface.ip | string + ' ansible_user=' +  zvm.nodes[item].user | string + ' ansible_become_password=' +  zvm.nodes[item].password | string }}
{% endfor %}
{% endif %}

[bastion]
{{ env.bastion.networking.hostname | default('') }} ansible_host={{ env.bastion.networking.ip | default('') }} ansible_user={{ env.bastion.access.user | default('') }} ansible_become_password='{{ '{{' }} env.bastion.access.pass {{ '}}' }}'

{% if (env.jumphost is defined) and (env.network_mode | default('') | upper == 'NAT') and (env.jumphost.name | default('') | length > 0) and (env.jumphost.ip | default('') | length > 0) and (env.jumphost.user | default('') | length > 0) and (env.jumphost.pass | default('') | length > 0) -%}
{{ '[jumphost]' }}
{{ env.jumphost.name | default('') }} ansible_host={{ env.jumphost.ip | default('') }} ansible_user={{ env.jumphost.user | default('') }} ansible_become_password='{{ '{{' }} env.jumphost.pass {{ '}}' }}'
{% endif -%}

{% if (disconnected_enabled | default(false)) and (disconnected is defined) and (disconnected.mirroring is defined) and (disconnected.mirroring.host is defined) and (disconnected.mirroring.host.name | default('') | length > 0) %}
{{ '[mirrorhost]' }}
{{ disconnected.mirroring.host.name | default('') }} ansible_host={{ disconnected.mirroring.host.ip | default('') }} ansible_user={{ disconnected.mirroring.host.user | default('') }} ansible_become_password='{{ '{{' }} disconnected.mirroring.host.pass {{ '}}' }}'
{% endif -%}
