<pool type='dir'>
  <name>{{ pool_name }}</name>
  <uuid>2da14d33-c8a8-4554-98f9-37fc6d9b0f90</uuid>
  <capacity unit='gigabytes'>0</capacity>
  <allocation unit='gigabytes'>0</allocation>
  <available unit='gigabytes'>0</available>
  <source>
  </source>
  <target>
    <path>{{ pool_path }}</path>
  </target>
</pool>
