<pool type='dir'>
  <name>{{ env.cluster.networking.metadata_name }}-vdisk</name>
  <capacity unit='gigabytes'>0</capacity>
  <allocation unit='gigabytes'>0</allocation>
  <available unit='gigabytes'>0</available>
  <source>
  </source>
  <target>
    <path>{{ storage.pool_path }}/{{ env.cluster.networking.metadata_name }}</path>
  </target>
</pool>
