<pool type='dir'>
  <name>default</name>
  <uuid>2da14d33-c8a8-4554-98f9-37fc6d9b0f90</uuid>
  <capacity unit='gigabytes'>0</capacity>
  <allocation unit='gigabytes'>0</allocation>
  <available unit='gigabytes'>0</available>
  <source>
  </source>
  <target>
    <path>{{env.z.lpar.storage_group.pool_path}}</path>
  </target>
</pool>