<network>
    <name>{{env.bridge_name}}</name>
    <forward dev='{{ env.z.lpar.networking.device1 }}' mode='bridge'>
        <interface dev='{{ env.z.lpar.networking.device1 }}'/>
    </forward>
</network>
