---
day2_compute_node:
  vm_name: ocp1-worker-3
  vm_hostname: worker-3
  vm_ip: 172.23.232.137
  hostname: a3elp37
  host_arch: s390x

rhcos_release: 4.12
rhcos_version: 4.12.2
# rhcos_baseurl with '/' at the end !
rhcos_baseurl: "https://mirror.openshift.com/pub/openshift-v4/{{ _rhcos_arch }}/dependencies/rhcos/{{ rhcos_release }}/{{ rhcos_version }}/"
