apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: multicluster-engine
  namespace: "{{ hcp.mce.mce_namespace | default('multicluster-engine', true) }}"
spec:
  targetNamespaces:
  - "{{ hcp.mce.mce_namespace | default('multicluster-engine', true) }}"
