apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: multicluster-engine
  namespace: "{{ hcp.mce.mce_namespace | default('multicluster-engine', true) }}"
spec:
  sourceNamespace: openshift-marketplace
{% if hcp.mce.catalogsource_image is defined and hcp.mce.catalogsource_image | string | length > 0 %}
  source: custom-redhat-operators
{% else %}
  source: redhat-operators
{% endif %}
{% set mce_channel = hcp.mce.version | default('', true) | string %}
{% if mce_channel | length > 0 %}
  channel: "{{ mce_channel if ('.' not in mce_channel or mce_channel.startswith('stable-')) else 'stable-' ~ mce_channel }}"
{% endif %}
  installPlanApproval: Automatic
  name: multicluster-engine
