---

- name: Check to see if kernel already exists on KVM host
  tags: prep_kvm_guests
  stat:
    path: "{{ env.z.lpar.storage_group.pool_path }}/rhcos-live-kernel-s390x"
  register: kernel_check

- name: Get Red Hat CoreOS kernel
  tags: prep_kvm_guests
  get_url:
    url: "{{ env.coreos.kernel }}"
    dest: "{{ env.z.lpar.storage_group.pool_path }}/rhcos-live-kernel-s390x"
    mode: '0755'
    force: yes
  when: kernel_check.stat.exists == false

- name: Check to see if initramfs already exists on KVM host
  tags: prep_kvm_guests
  stat:
    path: "{{ env.z.lpar.storage_group.pool_path }}/rhcos-live-initramfs.s390x.img"
  register: initramfs_check

- name: Get Red Hat CoreOS initramfs
  tags: prep_kvm_guests
  get_url:
    url: "{{ env.coreos.initramfs }}"
    dest: "{{ env.z.lpar.storage_group.pool_path }}/rhcos-live-initramfs.s390x.img"
    mode: '0755'
    force: yes
  when: initramfs_check.stat.exists == false