---

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30

- name: Approving all pending certificates
  tags: approve_certs
  shell: |
    /home/{{ env.bastion.access.user }}/ocpinst/oc get csr | awk '{print $1'} | grep -v NAME | xargs /home/{{ env.bastion.access.user }}/ocpinst/oc adm certificate approve
  register: csr_approved
  ignore_errors: true

- name: Viewing approved certificates
  tags: approve_certs
  debug:
    msg: "{{csr_approved.stdout_lines}}"

- name: Pause to let new certificates needing approval to generate
  tags: approve_certs
  pause: 
    seconds: 30
