#!/usr/bin/expect
{% if hcp.compute_node_type | lower != 'zvm' %}
set password "{{ kvm_host_password }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ hcp.ansible_key_name }} {{ hcp.bastion_params.host_user }}@{{ hcp.bastion_params.host }}
expect "{{ hcp.bastion_params.host_user }}@{{ hcp.bastion_params.host }}'s password:"
{% else %}
set password "{{ bastion_root_pw }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ env.ansible_key_name }} {{ hcp.bastion_params.user }}@{{ hcp.bastion_params.ip }}
expect "{{ hcp.bastion_params.user }}@{{ hcp.bastion_params.ip }}'s password:"
{% endif %}
send "$password\r"
expect eof
