#!/usr/bin/expect
log_user 1
set password "{{ bastion_root_pw }}"
{% set bastion_ip = (hcp.bastion_params.ip | default(hcp.mgmt_cluster_bastion.ip, true)) %}
{% set bastion_user = (hcp.bastion_params.user | default(hcp.mgmt_cluster_bastion.user, true)) %}
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ hcp.ansible_key_name }} {{ bastion_user }}@{{ bastion_ip }}
expect {
  -re "(?i)password:" {
    send "$password\r"
    exp_continue
  }
  -re "All keys were skipped because they already exist" {
    exit 0
  }
  eof {
    exit 0
  }
}
