$TTL 86400
@ IN SOA {{ env_bastion_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}. admin.{{ env_metadata_name }}.{{ env_baseDomain }} (
                                            2020011800 ;Serial
                                            3600 ;Refresh
                                            1800 ;Retry
                                            604800 ;Expire
                                            86400 ;Minimum TTL
)
;Name Server Information
@ IN NS {{ env_bastion_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ env_bastion_name }}     IN      A       {{ env_ip_bastion }}

;Reverse lookup for Name Server
{{ bastion_split_ip.3 }} IN PTR {{ env_bastion_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.

;PTR Record IP address to Hostname
{{ cont_0_split_ip.3 }}     IN      PTR     {{ env_control_0_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ cont_1_split_ip.3 }}     IN      PTR     {{ env_control_1_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ cont_2_split_ip.3 }}     IN      PTR     {{ env_control_2_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ comp_0_split_ip.3 }}     IN      PTR     {{ env_compute_0_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ comp_1_split_ip.3 }}     IN      PTR     {{ env_compute_1_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ bootstrap_split_ip.3 }}     IN      PTR     {{ env_bootstrap_name }}.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ bastion_split_ip.3 }}     IN      PTR     api-int.{{ env_metadata_name }}.{{ env_baseDomain }}.
{{ bastion_split_ip.3 }}     IN      PTR     api.{{ env_metadata_name }}.{{ env_baseDomain }}.