search {{ hostvars['bastion'].fqdn.split('.')[1:] | join('.') }}
{% if hostvars['bastion'].setup_dns %}
nameserver {{ hostvars['bastion'].forwarder }}
{% else %}
{% for ns in hostvars['bastion'].nameservers %}
nameserver {{ ns }}
{% endfor %}
{% endif %}