search {{ env.cluster.networking.base_domain }}
nameserver {{ env.bastion.networking.nameserver1 }}
{{ ('nameserver ' + env.bastion.networking.nameserver2) if env.bastion.networking.nameserver2 is defined else '' }}
