{% if hypershift.compute_node_type | lower != 'zvm' %}
[kvm_host_hypershift]
kvm_host_hypershift ansible_host={{ hypershift.kvm_host }} ansible_user={{ hypershift.kvm_host_user }} ansible_become_password={{ kvm_host_password }}

{% endif %}
[bastion_hypershift]
bastion_hypershift ansible_host={{ hypershift.bastion_hypershift }} ansible_user={{ hypershift.bastion_hypershift_user }}
