#!/usr/bin/expect
{% if hypershift.compute_node_type | lower != 'zvm' %}
set password "{{ kvm_host_password }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ env.ansible_key_name }} {{ hypershift.kvm_host_user }}@{{ hypershift.kvm_host }}
expect "{{ hypershift.kvm_host_user }}@{{ hypershift.kvm_host }}'s password:"
{% else %}
set password "{{ bastion_root_pw }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ env.ansible_key_name }} {{ hypershift.bastion_hypershift_user }}@{{ hypershift.bastion_hypershift }}
expect "{{ hypershift.bastion_hypershift_user }}@{{ hypershift.bastion_hypershift }}'s password:"
{% endif %}
send "$password\r"
expect eof
