#!/usr/bin/expect
set password "{{ kvm_host_password }}"
spawn ssh-copy-id {{ hypershift.kvm_host_user }}@{{ hypershift.kvm_host }}
expect "{{ hypershift.kvm_host_user }}@{{ hypershift.kvm_host }}'s password:"
send "$password\r"
expect eof
