---

  - name: Check nodes status
    tags: check_nodes
    shell: oc get nodes | awk '{print $1, $2}'
    register: oc_get_nodes
  
  - name: Print nodes status
    tags: check_nodes
    debug:
      var: oc_get_nodes.stdout_lines

  - name: Make sure nodes are 'Ready' before continuing
    tags: check_nodes
    shell: oc get nodes | awk '{print $2}'
    register: nodes_check
    until: ("NotReady" not in nodes_check.stdout)
    retries: 120
    delay: 30