{% for item in disconnected.mirroring.oc_mirror.post_mirror.mapping.replace.list if item.regexp is not none %}
[[registry]]
prefix = "{{ item.regexp }}"
location = "brew.registry.redhat.io"

{% endfor %}
[[registry]]
location = "registry.redhat.io"

[[registry.mirror]]
location = "brew.registry.redhat.io"