apiVersion: hco.kubevirt.io/v1beta1
kind: HyperConverged
metadata:
  name: "{{ hcp.ocpvirt.instance_name | default('kubevirt-hyperconverged', true) }}"
  namespace: "{{ hcp.ocpvirt.namespace | default('openshift-cnv', true) }}"
spec: {}
