apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: openshift-cnv-group
  namespace: "{{ hcp.ocpvirt.namespace | default('openshift-cnv', true) }}"
spec:
  targetNamespaces:
  - "{{ hcp.ocpvirt.namespace | default('openshift-cnv', true) }}"
