# Template for bastion kickstart configuration file. Some parts come from the create_bastion role.
# This kickstart file was tested with RHEL 8.7

%pre --log=/root/pre.log
%end

# Reboot after installation
reboot

# Use text mode install
text --non-interactive

# Run the Setup Agent on first boot
firstboot --enable

# Use network installation
url --url={{ hostvars['file_server'].protocol }}://{{ hostvars['file_server'].fs_user + ':' + hostvars['file_server'].fs_pass + '@' if hostvars['file_server'].protocol == 'ftp' else '' }}{{ hostvars['file_server'].fs_ip }}/{{ hostvars['file_server'].iso_mount_dir }}

# Add yum repositories
repo --install --name="AppStream" --baseurl={{ hostvars['file_server'].protocol }}://{{ hostvars['file_server'].fs_user + ':' + hostvars['file_server'].fs_pass + '@' if hostvars['file_server'].protocol == 'ftp' else '' }}{{ hostvars['file_server'].fs_ip }}/{{ hostvars['file_server'].iso_mount_dir }}/AppStream
repo --install --name="BaseOS" --baseurl={{ hostvars['file_server'].protocol }}://{{ hostvars['file_server'].fs_user + ':' + hostvars['file_server'].fs_pass + '@' if hostvars['file_server'].protocol == 'ftp' else '' }}{{ hostvars['file_server'].fs_ip }}/{{ hostvars['file_server'].iso_mount_dir }}/BaseOS

# Keyboard layouts
keyboard --vckeymap={{ env.keyboard }} --xlayouts='{{ env.keyboard }}'

# System language
lang {{ hostvars['bastion'].language }}

# System timezone
timezone {{ hostvars['bastion'].timezone }}

# Mark the End-User License Agreement (EULA) as agreed
eula --agreed

# Network information
network --bootproto=static --device={{ hostvars['bastion'].interface }} --ip={{ hostvars['bastion'].bastion_ip }} --gateway={{ hostvars['bastion'].gateway }} --netmask={{ hostvars['bastion'].netmask }} --noipv6 {% for ns in hostvars['bastion'].nameservers %}--nameserver={{ ns }}{% if not loop.last %} {% endif %}{% endfor %} --activate
network --hostname={{ hostvars['bastion'].fqdn }}

# Firewall and SELinux
firewall --enabled --http --ftp --smtp --ssh --port=443,9090
selinux --enforcing

# Root password (will fill in during create_bastion role)
rootpw --iscrypted {{ root_pass_hash.stdout }}

# Users and Groups Definitions (will fill in during create_bastion role)
user --groups=wheel --name={{ hostvars['bastion'].bastion_user }} --password={{ user_pass_hash.stdout }} --iscrypted

# The following is the partition information you requested
ignoredisk --only-use=vda

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=vda

# Partition clearing information
clearpart --all --initlabel --drives=vda

# Disk partitioning information
part /boot --fstype="xfs" --asprimary --ondisk=vda --size=1024
part pv.01 --fstype="lvmpv" --grow --size=1 --ondisk=vda
volgroup vgsystem --pesize=4096 pv.01
logvol swap --fstype=swap --name=swap --vgname=vgsystem --size={{ hostvars['bastion'].swap }}
logvol / --fstype=xfs --name=root --vgname=vgsystem --size=1 --grow

# Packages selection
%packages --multilib --ignoremissing
@^minimal-environment
bind-utils
curl
jq
mc
net-tools
# TODO: python3.6 is not supported anymore on RHEL8
python3
python3-pip
rsync
vim
wget
network-scripts
%end

%addon com_redhat_kdump --disable
%end

%post --log=/root/post.log
#!/usr/bin/env bash
#
# Install and update pip packages
pip3 install --upgrade pip setuptools wheel
#
# Yum repository configuration adjustments
echo "gpgcheck=0" >> /etc/yum.repos.d/AppStream.repo
echo "skip_if_unavailable=True" >> /etc/yum.repos.d/AppStream.repo
echo "gpgcheck=0" >> /etc/yum.repos.d/BaseOS.repo
echo "skip_if_unavailable=True" >> /etc/yum.repos.d/BaseOS.repo
%end
