examples:
   api_version:
      hmc: {{ networking.ip }}
      verify_cert: false
   show_os_messages:
      hmc: {{ networking.ip }}
      cpcname: {{ cpc_name }}
      partname: {{ lpar_name }}
      verify_cert: false
"{{ networking.ip }}":
   userid: {{ hmc_user }}
   password: {{ hmc_pass }}
   verify_cert: false
cpcs:
   {{ cpc_name }}:
      hmc_host: {{ networking.ip }}
      hmc_userid: {{ hmc_user }}
      hmc_password: {{ hmc_pass }}
      verify_cert: false 
