# Warning: currently, the oc-mirror plugin is officially downloadable to amd64 only.
# Please refer to docs set-variables-group-vars.md for instructions on how to create this configuration file for disconnected.
disconnected:
  enabled: false
  registry:
    url: 'registry url'
    ip: 'registry reachable ip'
    pull_secret: ''
    mirror_pull_secret: ''
    ca_trusted: false
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      if ca_trusted is False, then this ca will be added to mirror host anchors
      as well as to the install config of cluster
      -----END CERTIFICATE-----
  mirroring:
    # this is the host that can access the internet as well as the registry
    host:
      name: hosname
      ip: x.x.x.x
      user: mirroruser # with become access
      pass: mirrorpassword
    # In disconnected mode client binaries and RHCOS will be placed on the
    # file server (env.file_server) and then downloaded to the final
    # destination from there. Currently only oc-mirror is handled this way.
    file_server:
      clients_dir: 'clients'
      oc_mirror_tgz: 'oc-mirror.tar.gz'
    # this will download oc binary to the mirror host for use on the mirror host for mirroring
    client_download:
      ocp_download_url: "https://mirror.openshift.com/pub/openshift-v4/multi/clients/ocp/4.13.1/amd64/"
      ocp_client_tgz: 'openshift-client-linux.tar.gz'
    legacy:
      platform: false
      ocp_quay_release_image_tag: '4.13.1-s390x'
      ocp_org: 'ocp4'
      ocp_repo: 'openshift4'
      ocp_tag: 'v4.13.1' # platform images will be pushed to {registry_url}/{ocp_org}/{ocp_repo}:{ocp_tag}
    oc_mirror:
      oc_mirror_args:
        continue_on_error: false
        source_skip_tls: false
      post_mirror:
        mapping:
          replace:
            enabled: false
            list:
              - regexp: what
                replace: with
      release_image_tag: '4.13.1-multi'
      release_image_registry: 'brew.registry.redhat.io'
      image_set:
      # this field is a standard image set from oc-mirror documentation.
      # The only exception is the storageConfig which is altered to allow substitution of disconnected.registry.url
        apiVersion: mirror.openshift.io/v2alpha1 # update the version with v2alpha1 for oc-mirror v2 plugin and v1alpha2 for v1 plugin
        storageConfig:
          enable: false # enable this flag if oc-mirror v1 plugin is used since storageConfig is removed for v2 plugin
          registry:
            enabled: true # use registry storage backend. Currently only method supported
            imageURL: # the final value will be {imageURL: disconnected.registry.url/org/repo}
              org: mirror
              repo: oc-mirror-metadata
            skipTLS: false # standard field form oc-mirror schema
        mirror: # this field is also standard from the oc-mirror schema. It will be substituted as is into the final image set.
          platform:
            architectures:
              - multi
              # Note: cannot mirror tags like multi-s390x; list must contain pure
              # architecture names (e.g. s390x) or the multiarch token 'multi'.
            channels:
              - name: stable-4.13
                full: false
                minVersion: 4.13.1
                maxVersion: 4.13.1
          operators:
            - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.13
              full: false
              packages:
                - name: serverless-operator
                  channels:
                    - name: stable
                      # minVersion: '2.4.1-0'
                      # maxVersion: '2.4.1-0'
          additionalImages:
            - name: registry.redhat.io/ubi8/ubi:latest
          helm: {}
