apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: "static-ip-nmstate-config-{{ hcp.control_plane.hosted_cluster_name }}-{{ item }}"
  namespace: "{{ hcp.control_plane.clusters_namespace }}-{{ hcp.control_plane.hosted_cluster_name }}"
  labels:
    infraenv: "static-ip-{{ hcp.control_plane.hosted_cluster_name }}"
spec:
  config:
    interfaces:
      - name: "{{ hcp.data_plane.kvm.ip_params.static_ip.interface }}"
        type: ethernet
        state: up
        mac-address: "{{ agent_mac_addr[item] }}"
        ipv4:
          enabled: true
          address:
            - ip: "{{ hcp.data_plane.kvm.ip_params.static_ip.ip[item] }}"
              prefix-length: 16
          dhcp: false
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: "{{ hcp.bastion_params.gateway }}"
          next-hop-interface: "{{ hcp.data_plane.kvm.ip_params.static_ip.interface }}"
          table-id: 254
    dns-resolver:
      config:
        server:
          - "{{ hcp.data_plane.nameserver }}"

  interfaces:
    - name: "{{ hcp.data_plane.kvm.ip_params.static_ip.interface }}"
      macAddress: "{{ agent_mac_addr[item] }}"
