rd.neednet=1 cio_ignore=all,!condev ai.ip_cfg_override=1 console=ttysclp0 coreos.live.rootfs_url=http://{% if node.networking.mode | lower == "hipersocket" %}{{ env.bastion.networking.internal_ip }}{% else %}{{ env.bastion.networking.ip }}{% endif %}:8080/agent.{{ ansible_architecture }}-rootfs.img ip={{ node.networking.ip }}::{{ node.networking.gateway }}:{{ node.networking.subnetmask }}::{{ node.networking.device1 }}:none nameserver={% if node.networking.mode | lower == "hipersocket" %}{{ env.bastion.networking.internal_ip }}{% else %}{{ node.networking.nameserver1 }}{% endif %} zfcp.allow_lun_scan=0 rd.znet=qeth,{{ node.lpar.networking.nic.card1.dev_num }},layer2=1{% if node.lpar.storage_group_1.type | lower == "fcp" %} rd.zfcp=0.0.{{ node.lpar.storage_group_1.dev_num }},{{ node.lpar.storage_group_1.storage_wwpn[0] }},{{ node.lpar.storage_group_1.lun_name }}{% endif %} random.trust_cpu=on rd.luks.options=discard ignition.firstboot ignition.platform.id=metal