#!/usr/local/bin/expect -f

set force_conservative 0
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout 20
spawn ssh-copy-id -f -o StrictHostKeyChecking=no{% if ssh_target[4] is defined and ssh_target[4] != '' %} -o ProxyJump={{ ssh_target[4] }}{% endif %} -i {{ ssh_target[3] | regex_replace('^~', remote_home) }} {{ ssh_target[1] }}@{{ ssh_target[0] }}
expect {
	"yes/no" {
		send -- "yes\r"
		exp_continue
	}
	"password: " {
		send -- "{{ ssh_target[2] }}\r"
		exp_continue
	}
	"password: " {
		send -- "{{ ssh_target[2] }}\r"
		expect eof
	}
	"Number of key(s) added:" {}
}
