#!/usr/local/bin/expect -f

set force_conservative 0
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout 20
spawn ssh-copy-id -f -o StrictHostKeyChecking=no -i {{ hostvars['jumphost'].ssh_jumphost_private_key_file if inventory_hostname == 'jumphost' else hostvars[ssh_target].ansible_ssh_private_key_file }} {{ hostvars[ssh_target].ansible_user }}@{{ hostvars[ssh_target].ansible_host }}
expect {
	"password: " {
		send -- "{{ hostvars[ssh_target].ansible_become_password }}\r"
		expect eof
	}
	"Number of key(s) added:" {}
}
