#!/usr/local/bin/expect -f

set force_conservative 0  
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout -1
spawn ssh-copy-id -o StrictHostKeyChecking=no -i {{path_to_key_pair}} root@{{ ssh_target_ip }}
expect "*assword: "
send -- "{{env.access.login.kvm.root_password}}\r"
expect eof