---

- name: Register server with Red Hat
  tags: attach_subscription
  community.general.redhat_subscription:
    state: present
    username: "{{ env.redhat.username }}"
    password: "{{ env.redhat.password }}"
    auto_attach: true
  retries: 2
  # Retry twice, in case server is not available for few seconds
  retries: 2
  delay: 30
