apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: odf-catalogsource
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: ODF CatalogSource
  image: "{{ (hcp.odf | default({})).catalogsource_image | default('', true) }}"
