# Template for KVM host kickstart config file. Some parts come from the update_cfgs role.

%pre --log=/root/pre.log
dd if=/dev/zero of=/dev/mapper/mpatha bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathb bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathc bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathd bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathe bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathf bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathg bs=512 count=10
dd if=/dev/zero of=/dev/mapper/mpathh bs=512 count=10
%end

# Reboot after installation
reboot

# Use network installation
url --url=ftp://{{ hostvars['file_server'].fs_user }}:{{ hostvars['file_server'].ansible_become_password }}@{{ hostvars['file_server'].fs_ip }}/{{ hostvars['file_server'].iso_mount_dir }}

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang {{ language }}

# System timezone
timezone {{ timezone }}

# Network information
network --bootproto=static --device={{ device1 }} {% if nic2.name is defined %}--bondslaves={{ nic1.name }},{{ nic2.name }} --bondopts=mode=active-backup;primary={{ nic1.name }} {% endif %}--gateway={{ gateway }} --ip={{ hypervisor_ip }} {% for ns in nameservers %}--nameserver={{ ns }}{% if not loop.last %} {% endif %}{% endfor %} --netmask={{ netmask }} --noipv6 --activate --hostname={{ hostname }}

# Firewall and SELinux
firewall --enabled --http --ftp --smtp --ssh --port=443,9090,123
selinux --enforcing

# Root password (will fill in during update_cfgs role)
rootpw --iscrypted {{ root_pass_hash.stdout }}

#Users and Groups Definitions (will fill in during update_cfgs role)
user --groups=wheel,kvm,libvirt --name={{ hypervisor_user }} --password={{ user_pass_hash.stdout }} --iscrypted

# The following is the partition information you requested
ignoredisk --only-use=mpatha

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=mpatha

# Partition clearing information
zerombr
clearpart --all --initlabel --drives=mpatha

# Disk partitioning information
autopart --type=lvm --fstype=xfs --nohome
#if modifying partitioning, double-check roles/configure_storage to make it will work smoothly

# packages selection
%packages --multilib --ignoremissing
@^minimal
%end

%addon com_redhat_kdump --disable
%end

%post --log=/root/post.log
%end
