ro ramdisk_size=40000 cio_ignore=all,!condev
ip={{env.z.lpar.networking.ip}}::{{env.z.lpar.networking.gateway}}:{{env.z.lpar.networking.subnet}}:{{env.z.lpar.networking.hostname}}:{{env.z.lpar.networking.device1}}:none 
nameserver={{ env.z.lpar.networking.nameserver1 }} {{ ('nameserver=' + env.z.lpar.networking.nameserver2) if env.z.lpar.networking.nameserver2 is defined else '' }}
inst.repo=ftp://{{env.ftp.user}}:{{env.ftp.pass}}@{{env.ftp.ip}}/{{ env.ftp.iso_mount_dir }}
inst.ks=ftp://{{env.ftp.user}}:{{env.ftp.pass}}@{{env.ftp.ip}}/{{ env.ftp.cfgs_dir }}/{{env.z.lpar.name}}/kvm_host.cfg
inst.cmdline