Host bastion-jump
  HostName {{ env.jumphost.name }}
  User {{ env.jumphost.user }}
  IdentityFile ~/.ssh/id_rsa

#Host bastion-{{ env.jumphost.name }}
Host {{ env.bastion.networking.ip }}
  HostName {{ env.bastion.networking.ip }} 
  User root
  IdentityFile ~/.ssh/ansible-ocpz
  ProxyJump bastion-jump
