---

- name: Enable named
  tags: dns
  ansible.builtin.systemd:
    name: named
    enabled: yes

- name: Start named
  tags: dns
  ansible.builtin.systemd:
    name: named
    state: started

- name: Split IP addresses for use in templates
  tags: dns
  set_fact: 
    bastion_split_ip: "{{ vault.bastion.networking.ip.split('.') }}"
    bootstrap_split_ip: "{{ env.cluster.nodes.bootstrap.ip.split('.') }}"

- name: Template named.conf file to bastion
  tags: dns
  template:
    src: dns-named.conf.j2
    dest: /etc/named.conf
    owner: root
    group: root
    mode: '0755'
    backup: yes

- name: Template DNS forwarding file to bastion
  tags: dns
  template:
    src: dns.db.j2
    dest: /var/named/{{env.cluster.networking.metadata_name}}.db
    owner: named
    group: named
    mode: '0755'
    backup: yes

- name: Add control nodes to DNS forwarding file on bastion
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.db
    insertafter: "entries for the control nodes"
    line: "{{ env.cluster.nodes.control.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}. IN A {{ env.cluster.nodes.control.ip[i] }}"
  with_sequence: start=0 end={{(env.cluster.nodes.control.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i

- name: Add compute nodes to DNS forwarding file on bastion
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.db
    insertafter: "entries for the compute nodes"
    line: "{{ env.cluster.nodes.compute.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}. IN A {{ env.cluster.nodes.compute.ip[i] }}"
  with_sequence: start=0 end={{(env.cluster.nodes.compute.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i

- name: Add infrastructure nodes to DNS forwarding file on bastion if requested
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.db
    insertafter: "entries for extra RHEL VMs"
    line: "{{ env.cluster.nodes.infra.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}. IN A {{ env.cluster.nodes.infra.ip[i] }}"
  with_sequence: start=0 end={{(env.cluster.nodes.infra.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i
  when: env.cluster.nodes.infra.hostname is defined

- name: Template DNS reverse lookup file to bastion
  tags: dns
  template:
    src: dns.rev.j2
    dest: /var/named/{{env.cluster.networking.metadata_name}}.rev
    owner: named
    group: named
    mode: '0755'
    backup: yes

- name: Add control nodes to DNS reverse lookup file on bastion
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.rev
    insertafter: "PTR Record IP address to Hostname"
    line: "{{ env.cluster.nodes.control.ip[i].split('.').3 }}     IN      PTR     {{ env.cluster.nodes.control.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}."
  with_sequence: start=0 end={{(env.cluster.nodes.control.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i

- name: Add compute nodes to DNS reverse lookup file on bastion
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.rev
    insertafter: "PTR Record IP address to Hostname"
    line: "{{ env.cluster.nodes.compute.ip[i].split('.').3 }}     IN      PTR     {{ env.cluster.nodes.compute.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}."
  with_sequence: start=0 end={{(env.cluster.nodes.compute.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i

- name: Add infrastructure nodes to DNS reverse lookup file on bastion
  tags: dns
  lineinfile:
    path: /var/named/{{env.cluster.networking.metadata_name}}.rev
    insertafter: "PTR Record IP address to Hostname"
    line: "{{ env.cluster.nodes.infra.ip[i].split('.').3 }}     IN      PTR     {{ env.cluster.nodes.infra.hostname[i] }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}."
  with_sequence: start=0 end={{(env.cluster.nodes.infra.hostname | length) - 1}} stride=1
  loop_control:
    extended: yes
    index_var: i
  when: env.cluster.nodes.infra.hostname is defined

- name: Add cluster nameserver to bastion's resolv.conf file, replacing default
  tags: dns
  lineinfile:
    path: /etc/resolv.conf
    regexp: "nameserver"
    line: "nameserver {{ env.cluster.networking.nameserver }}"

- name: Restart named to update changes made to DNS
  tags: dns
  ansible.builtin.systemd:
      name: named
      state: restarted