apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: "{{ hypershift.hcp.hosted_cluster_name }}"
  namespace: "{{ hypershift.hcp.clusters_namespace }}-{{ hypershift.hcp.hosted_cluster_name }}"
spec:
{% if hypershift.agents_parms.static_ip_parms.static_ip == true %}
  nmStateConfigLabelSelector:
    matchLabels:
      infraenv: "static-ip-{{ hypershift.hcp.hosted_cluster_name }}"
{% endif %}
  cpuArchitecture: "{{ hypershift.hcp.arch }}"
  pullSecretRef:
    name: pull-secret
  sshAuthorizedKey: "{{ ssh_key }}"
