apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: "static-ip-nmstate-config-{{ hypershift.hcp.hosted_cluster_name }}-{{ item }}"
  namespace: "{{ hypershift.hcp.clusters_namespace }}-{{ hypershift.hcp.hosted_cluster_name }}"
  labels:
    infraenv: "static-ip-{{ hypershift.hcp.hosted_cluster_name }}"
spec:
  config:
    interfaces:
      - name: "{{ hypershift.agents_parms.static_ip_parms.interface }}"
        type: ethernet
        state: up
        mac-address: "{{ agent_mac_addr[item] }}"
        ipv4:
          enabled: true
          address:
            - ip: "{{ hypershift.agents_parms.static_ip_parms.ip[item] }}"
              prefix-length: 16
          dhcp: false
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: "{{ hypershift.gateway }}"
          next-hop-interface: "{{ hypershift.agents_parms.static_ip_parms.interface }}"
          table-id: 254
    dns-resolver:
      config:
        server:
          - "{{ hypershift.agents_parms.nameserver }}"

  interfaces:
    - name: "{{ hypershift.agents_parms.static_ip_parms.interface }}"
      macAddress: "{{ agent_mac_addr[item] }}"
