apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: lso-catalogsource
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: Local Storage Operator CatalogSource
  image: "{{ hcp.lso.catalogsource_image }}"
