kind: LocalVolume
apiVersion: local.storage.openshift.io/v1
metadata:
  name: "{{ hcp.lso.localvolume.name }}"
  namespace: "{{ hcp.lso.namespace }}"
spec:
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
          - key: "{{ hcp.lso.localvolume.node_selector_key }}"
            operator: "{{ hcp.lso.localvolume.node_selector_operator }}"
  storageClassDevices:
    - storageClassName: "{{ hcp.lso.localvolume.storage_class_name }}"
      volumeMode: "{{ hcp.lso.localvolume.volume_mode }}"
      devicePaths:
{% for p in hcp.lso.localvolume.device_paths %}
        - "{{ p }}"
{% endfor %}
