{% if env.cluster.nodes.compute.ip is defined %}
{% set compute_replicas = env.cluster.nodes.compute.ip | length %}
{% else %}
{% set compute_replicas = 0 %}
{% endif %}
{% if env.cluster.nodes.control.ip is defined %}
{% set control_replicas = env.cluster.nodes.control.ip | length %}
{% else %}
{% set control_replicas = 0 %}
{% endif %}
apiVersion: {{ install_config_vars.api_version }}
baseDomain: {{ env.cluster.networking.base_domain }}
controlPlane:
  architecture: {{ install_config_vars.control.architecture }}
  hyperthreading: {{ install_config_vars.control.hyperthreading }}
  name: master
  replicas: {{ control_replicas }}
compute:
- architecture: {{ install_config_vars.compute.architecture }}
  hyperthreading: {{ install_config_vars.compute.hyperthreading }}
  name: worker
  replicas: {{ compute_replicas }}
metadata:
  name: {{ env.cluster.networking.metadata_name }}
networking:
  clusterNetwork:
  - cidr: {{ install_config_vars.cluster_network.cidr }}
    hostPrefix: {{ install_config_vars.cluster_network.host_prefix }}
  machineNetwork:
  - cidr: {{ install_config_vars.machine_network }}
  networkType: {{ install_config_vars.cluster_network.type }} 
  serviceNetwork:
  - {{ install_config_vars.service_network }}
platform:
  none: {}
pullSecret: >
  {{ env.redhat.pull_secret }}
sshKey: >
  {{ ssh_key.stdout }}
