#!/usr/bin/expect
{% if abi.compute_node_type | lower != 'zvm' %}
set password "{{ kvm_host_password }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ env.ansible_key_name }} {{ abi.kvm_host_user }}@{{ abi.kvm_host }}
expect "{{ abi.kvm_host_user }}@{{ abi.kvm_host }}'s password:"
{% else %}
set password "{{ bastion_root_pw }}"
spawn ssh-copy-id -i {{ lookup('env', 'HOME') }}/.ssh/{{ env.ansible_key_name }} {{ abi.bastion_abi_user }}@{{ abi.bastion_abi }}
expect "{{ abi.bastion_abi_user }}@{{ abi.bastion_abi }}'s password:"
{% endif %}
send "$password\r"
expect eof
