version: 2
ethernets:
  eth0:
    dhcp4: false
    # default libvirt network
    addresses: [ {{ env.ip.app[i] }} ]
    gateway4: {{ env.networking.gateway }}
    nameservers:
      search: [ {{ env.networking.base_domain }} ]
      addresses: [ {{ env.networking.dns.nameserver }},{{ env.networking.dns.forwarder }} ]