rd.neednet=1 ai.ip_cfg_override=1 console=ttysclp0 coreos.live.rootfs_url=http://{{ env.bastion.networking.ip }}:8080/agent.{{ ansible_architecture }}-rootfs.img ip={{ zvm.nodes[item].interface.ip }}::{{ zvm.gateway }}:{{ zvm.subnetmask }}{% if zvm.network_mode | lower != 'roce' %}::{{ zvm.nodes[item].interface.ifname }}:none{% endif %} nameserver={{ zvm.nameserver }} zfcp.allow_lun_scan=0 {% if zvm.network_mode | lower != 'roce' %}rd.znet={{ zvm.nodes[item].interface.nettype }},{{ zvm.nodes[item].interface.subchannels }},{{ zvm.nodes[item].interface.options }}{% endif %} {% if zvm.disk_type | lower != 'fcp' %}rd.dasd={{ zvm.nodes[item].dasd.disk_id }}{% else %}rd.zfcp={{ zvm.nodes[item].lun[0].paths[0].fcp}},{{ zvm.nodes[item].lun[0].paths[0].wwpn }},{{ zvm.nodes[item].lun[0].id }} {% endif %} random.trust_cpu=on rd.luks.options=discard ignition.firstboot ignition.platform.id=metal console=tty1 console=ttyS1,115200n8 coreos.inst.persistent-kargs="console=tty1 console=ttyS1,115200n8"