vault:
  z:
    cpc_name: {{ env.z.cpc_name }}
    hmc:
      host: {{ env.z.hmc.host }} 
      auth:
        pass: {{ env.z.hmc.auth.pass }}
    lpar:
      access:
        pass: {{ env.z.lpar.access.pass }}
        root_pass: {{ env.z.lpar.access.root_pass }}
      networking:
        ip: {{ env.z.lpar.networking.ip }} 
  ftp:
    ip: {{ env.ftp.ip }} 
    pass: {{ env.ftp.pass }} 
  redhat:
    password: {{ env.redhat.password }} 
    pull_secret: '{{ env.redhat.pull_secret }}' 
  bastion:
    networking: 
      ip: {{ env.bastion.networking.ip }}
    access:
      pass: {{ env.bastion.access.pass }}
      root_pass: {{ env.bastion.access.root_pass }}