apiVersion: {{ hostvars['bootstrap_node'].api_version }}
baseDomain: {{ base_domain }}
{% if use_proxy == true %}
{{ 'proxy: ' }}
{{ '  httpProxy: ' + hostvars['bastion'].http_proxy }}
{{ '  httpsProxy: ' + hostvars['bastion'].https_proxy }}
{{ '  noProxy: ' + hostvars['bastion'].no_proxy + ',' + '127.0.0.1,' + 'localhost,' +
hostvars['bastion'].bastion_ip + ',' +
hostvars['bootstrap_node'].node_ip + ',' +
(groups['control_nodes'] | map('extract', hostvars, 'node_ip') | join(',')) + ',' +
(groups['compute_nodes'] | map('extract', hostvars, 'node_ip') | join(',')) + ',' +
'etcd-0.' + metadata_name + '.' + base_domain + ',' +
('etcd-1.' + metadata_name + '.' + base_domain + ',' if groups['control_nodes'][1] is defined else '' ) +
('etcd-2.' + metadata_name + '.' + base_domain + ',' if groups['control_nodes'][2] is defined else '' ) +
'api-int.' + metadata_name + '.' + base_domain + ',' +
'api.' + metadata_name + '.' + base_domain + ',' +
'.' + metadata_name + '.' + base_domain }}
{% endif %}
compute:
- hyperthreading: {{ hostvars['compute_1'].hyperthreading }}
  name: worker
  replicas: {{ groups['compute_nodes'] | length }}
  architecture: {{ hostvars['compute_1'].architecture }}
controlPlane:
  hyperthreading: {{ hostvars['control_1'].hyperthreading }}
  name: master
  replicas: {{ groups['control_nodes'] | length }}
  architecture: {{ hostvars['control_1'].architecture }}
metadata:
  name: {{ metadata_name }}
networking:
  clusterNetwork:
  - cidr: {{ hostvars['bootstrap_node'].cidr }}
    hostPrefix: {{ hostvars['bootstrap_node'].host_prefix }}
  networkType: {{ hostvars['bootstrap_node'].net_type }}
  serviceNetwork:
  - {{ hostvars['bootstrap_node'].service_network }}
platform:
  none: {}
fips: {{ hostvars['bootstrap_node'].fips | lower }}
pullSecret: '{{ rh_pull_secret | tojson }}'
sshKey: '{{ ocp_pub_key.stdout }}'
