apiVersion: {{ env.install_config.api_version }}
baseDomain: {{ env.cluster.networking.base_domain }}
{% if use_proxy == true %}
{{ 'proxy: ' }}
{{ '  httpProxy: ' + env.proxy.http }}
{{ '  httpsProxy: ' + env.proxy.https }}
{{ '  noProxy: ' + env.proxy.no + ',' + '127.0.0.1,' + 'localhost,' +
env.bastion.networking.ip + ',' +
env.cluster.nodes.bootstrap.ip + ',' +
env.cluster.nodes.control.ip|join(',') + ',' +
env.cluster.nodes.compute.ip|join(',') + ',' +
env.cluster.nodes.infra.ip|join(',')+ ',' +
'etcd-0.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain + ',' +
('etcd-1.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain + ',' if env.cluster.nodes.control.ip[1] is defined else '' ) +
('etcd-2.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain + ',' if env.cluster.nodes.control.ip[2] is defined else '' ) +
'api-int.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain + ',' +
'api.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain + ',' +
'.' + env.cluster.networking.metadata_name + '.' + env.cluster.networking.base_domain }}
{% endif %}
compute:
- hyperthreading: {{ env.install_config.compute.hyperthreading }}
  name: worker
  replicas: {{ (env.cluster.nodes.compute.hostname | default('') | length) }}
  architecture: {{ env.install_config.compute.architecture }}
controlPlane:
  hyperthreading: {{ env.install_config.control.hyperthreading }}
  name: master
  replicas: {{(env.cluster.nodes.control.hostname | length)}}
  architecture: {{ env.install_config.control.architecture }}
metadata:
  name: {{ env.cluster.networking.metadata_name }}
networking:
  clusterNetwork:
  - cidr: {{ env.install_config.cluster_network.cidr }}
    hostPrefix: {{ env.install_config.cluster_network.host_prefix }}
  networkType: {{ env.install_config.cluster_network.type }}
  serviceNetwork:
  - {{ env.install_config.service_network }}
platform:
  none: {}
fips: {{ env.install_config.fips }}
pullSecret: '{{ env.redhat.pull_secret if not disconnected.enabled else disconnected.registry.pull_secret }}'
{% if disconnected.enabled %}
{{ 'imageContentSources: ' }}
{{ '- mirrors:'}}
{{ '  - ' + disconnected.registry.url + '/' }}{{ disconnected.mirroring.legacy.ocp_org if disconnected.mirroring.legacy.platform else 'openshift' }}{{ '/' }}{{ disconnected.mirroring.legacy.ocp_repo if disconnected.mirroring.legacy.platform else 'release-images' }}
{{ '  source: quay.io/openshift-release-dev/ocp-release' }}
{{ '- mirrors:'}}
{{ '  - ' + disconnected.registry.url + '/' }}{{ disconnected.mirroring.legacy.ocp_org if disconnected.mirroring.legacy.platform else 'openshift' }}{{ '/' }}{{ disconnected.mirroring.legacy.ocp_repo if disconnected.mirroring.legacy.platform else 'release' }}
{{ '  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev' }}
{% endif %}
{% if disconnected.enabled and not disconnected.registry.ca_trusted %}
{{ 'additionalTrustBundle: |' }}{% for line in disconnected.registry.ca_cert.split('\n') %}{{ '\n  ' + line }}{% endfor %}
{% endif %}
