apiVersion: {{ env.install_config.api_version }}
baseDomain: {{ env.install_config.base_domain }}
compute:
- hyperthreading: {{ env.install_config.compute.hyperthreading }}
  name: worker
  replicas: {{ env.install_config.compute.replicas }}
  architecture: {{ env.install_config.compute.architecture }}
controlPlane:
  hyperthreading: {{ env.install_config.control.hyperthreading }}
  name: master
  replicas: {{ env.install_config.control.replicas }}
  architecture: {{ env.install_config.control.architecture }}
metadata:
  name: {{ env.install_config.metadata_name }}
networking:
  clusterNetwork:
  - cidr: {{ env.install_config.cluster_network.cidr }}
    hostPrefix: {{ env.install_config.cluster_network.host_prefix }}
  networkType: {{ env.install_config.cluster_network.type }}
  serviceNetwork:
  - {{ env.install_config.service_network }}
platform:
  none: {}
fips: {{ env.install_config.fips }}
pullSecret: '{{ env.install_config.pull_secret }}'
sshKey: '{{ lookup('file', 'roles/get_ocp/files/ocp_ssh_pub.yaml') }}'