options {
	listen-on port 53 { 127.0.0.1; {{ hcp.bastion_params.ip }}; {% if hcp.compute_node_type | lower == 'lpar' and hcp.data_plane.lpar.network_mode | lower == 'hipersockets' %} {{ hcp.bastion_params.internal_ip }}; {% endif %} };
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";
	allow-query     { any; };

	recursion yes;
	allow-recursion { any; };
	forwarders { {{ hcp.bastion_params.nameserver }}; };

	dnssec-enable yes;
	dnssec-validation no;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "{{ hcp.control_plane.hosted_cluster_name }}.{{ hcp.control_plane.basedomain }}" {
        type master;
        file "{{ hcp.control_plane.hosted_cluster_name }}.{{ hcp.control_plane.basedomain }}.zone";
        allow-query { any; };
        allow-transfer { none; };
        allow-update { none; };
};

zone "{{ management_basedomain }}" {
        type forward;
		forwarders { {{ hcp.mgmt_cluster_nameserver }}; };
};
