apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: custom-operators
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: Custom Operators
  image: {{ hcp.metallb.catalogsource_image }}
