apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: metallb-operator
  namespace: "{{ hcp.metallb.namespace | default('metallb-system', true) }}"
spec:
  sourceNamespace: "{{ hcp.metallb.source_namespace | default('openshift-marketplace', true) }}"
{% if disconnected is defined and disconnected.enabled | default(false) %}
  source: "{{ disconnected_catalogsource_name }}"
{% elif hcp.metallb.catalogsource_image is defined and hcp.metallb.catalogsource_image | string | length > 0 %}
  source: custom-operators
{% else %}
  source: redhat-operators
{% endif %}
{% if hcp.metallb.version | default('', true) | length > 0 %}
  channel: "{{ hcp.metallb.version }}"
{% endif %}
  installPlanApproval: Automatic
  name: metallb-operator
